<div class="main">
  <header class="main__header">
    <img
      class="logo"
      src="../assets/email-logo.svg"
      alt="Logo">
    <div class="title">Email manager</div>
  </header>
  <div class="main__content">

    <nav class="main__content__nav-menu">
      <app-create-folder-btn
        (folderCreated)="onFolderCreated($event)">
      </app-create-folder-btn>
      <a *ngFor="let folder of folders; let i = index"
         class="folder"
         [class.folder__active]="i === selectedFolderIndex"
         (click)="onFolderClick(i)">
        <img
          *ngIf="!folder.canDelete"
          src="assets/email-folder-system.svg"
          alt="Folder icon">
        <img
          *ngIf="folder.canDelete"
          src="assets/email-folder-icon.svg"
          alt="Folder icon">
        {{ folder.name }}
        <mat-icon
          *ngIf="folder.canDelete"
          (click)="deleteFolder($event, i)"
          class="folder-control"
          title="Delete folder">
          clear
        </mat-icon>
      </a>
    </nav>

    <div class="main__content__body">

      <div class="app-mail-box">
        <router-outlet></router-outlet>
      </div>

      <app-helper-box></app-helper-box>

    </div>
  </div>
</div>
