@import "src/styles/colors";
@import "src/styles/media-queries";

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;

  .main__header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: $color_5;
    font-size: 18px;

    .title {
      display: flex;
      align-items: center;
      text-transform: uppercase;

      img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }
    }

    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 15px;

      &:hover {
        background-color: $color_2;
      }

      .logout {
        width: 25px;
        height: 25px;
        margin-right: 15px;
        cursor: pointer;
        background-image: url('/assets/email-logout-exit.svg');

        &:hover {
          background-image: url('/assets/email-logout-exit-active.svg');
        }
      }
    }
  }

  .main__content {
    display: flex;
    flex: 1;
    background-color: $color_1;
    overflow-y: hidden;

    .main__content__nav-menu {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      min-width: 320px;
      max-width: 400px;
      border-right: 2px solid $color_7;
      background-color: $color_3;

      @include md {
        min-width: 50vw;
        max-width: unset;
      }

      .folder {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px 10px 10px 15px;
        font-size: 18px;

        &:hover {
          transition: background-color .2s linear;
          background-color: $color_4;
        }

        & span {
          flex: auto;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &__active {
          background-color: $color_2;

          &::after {
            position: absolute;
            display: block;
            content: ' ';
            width: 8px;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $color_7;
          }
        }

        .folder-control {
          min-width: 24px;
          min-height: 24px;
          margin-left: 5px;
        }
      }

      .icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }

    .main__content__body {
      flex: 1 0;
      min-width: 320px;

      @include md {
        min-width: 100vw;
      }

    }
  }
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 15px;
  font-size: 18px;
  background-color: $color_1;
  border: none;

  &:hover {
    background-color: $color_2;
  }
}
