$color_white: #ffffff;
$color_black: #000000;

$color_1: #E3F2FD;
$color_2: #bbdefb;
$color_3: #90caf9;
$color_4: #64b5f6;
$color_5: #42a5f5;
$color_6: #2196f3;
$color_7: #1e88e5;
$color_8: #1976d2;
$color_9: #1565c0;
$color_10: #0d47a1;


$font_color_light: #5e5e5e;
$font_color_medium: #666666;
$font_color_dark: #4C4C4C;

$font_color_error: #b52d30;
$background_color_error: #efb5b6;
