@import "reset";
@import "styles/colors";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.error {
  margin-bottom: 10px;
  padding: 5px 5px 5px 10px;
  border: 1px solid $font_color_error;
  background-color: $background_color_error;
  color: $font_color_error;

  position: relative;
  animation-name: error;
  animation-duration: .5s;

  @keyframes error {
    0% { left: -1px }
    25% { left: 1px }
    50% { left: -1px }
    75% { left: 1px }
    100% { left: -1px }
  }
}
