@import "reset";
@import "styles/colors";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.error {
  margin-bottom: 10px;
  padding: 5px 5px 5px 10px;
  border: 1px solid $font_color_error;
  background-color: $background_color_error;
  color: $font_color_error;

  position: relative;
  animation-name: error;
  animation-duration: .5s;

  @keyframes error {
    0% { left: -1px }
    25% { left: 1px }
    50% { left: -1px }
    75% { left: 1px }
    100% { left: -1px }
  }
}

.dialog-container {
  background-color: $color_1;

  mat-dialog-container {
    position: relative;
    padding: 23px;
    border-radius: 0;
    overflow: unset;

    mat-dialog-content {
      margin: 0 0 20px 0;
      padding: 0;
      flex-wrap: unset;
      overflow: unset;
      max-height: unset;
    }

    mat-dialog-actions {
      margin: 0;
      padding: 0;
      flex-wrap: unset;
      justify-content: end;
      min-height: unset;
    }

    .btn {
      width: unset;
      margin: 0;
      padding: 10px 35px;

      &:nth-child(n):not(:last-child) {
        margin-right: 10px;
      }

      &-save {

      }

      &-exit {

      }
    }

    .icon-exit {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 3px;
      right: 3px;
      font-size: 20px;
    }

  }
}
