<div class="mail"
     [ngClass]="{'mail__selected': isMailSelected, 'mail__not-readen': !mail.isReaden}"
     (click)="onExpandClick($event, true)">

  <div class="mail__header">
    <i class="mail-icon"
       [class.mail-icon__active]="isMailSelected"
       [class.mail-icon__not-readen]="!mail.isReaden">
    </i>

    <div class="mail-from">
      {{ mail.from }}
    </div>
    <div class="time-receiving">
      {{ mail.receivingTime | date:'shortTime' }}
    </div>
    <mat-icon
      (click)="onMakeAsUnread($event)"
      class="mail-control"
      title="Make as unread">
      flag
    </mat-icon>
    <mat-icon
      (click)="onMove($event)"
      class="mail-control"
      title="Move to another folder">
      reply
    </mat-icon>
    <mat-icon
      (click)="onDelete($event)"
      class="mail-control"
      title="Delete mail">
      clear
    </mat-icon>
  </div>

  <div class="mail__content">
    <p class="mail-text"
       [ngClass]="{'mail-text__selected': isMailSelected}"
       [innerHTML]="mail.text">
    </p>
  </div>
</div>
<button
  *ngIf="isMailSelected"
  class="btn"
  (click)="onExpandClick($event, false)">
  Collapse
</button>
