@import "../../../../../../styles/colors";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .mail {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    color: $font_color_medium;
    background-color: $color_1;

    &__header {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .mail-icon {
        position: absolute;
        height: 25px;
        width: 25px;
        margin-right: 5px;
        bottom: -1px;
        background-image: url(/assets/email-logo.svg);
        background-repeat: no-repeat;

        &__active {
          bottom: 4px;
          background-image: url(/assets/email-message.svg);
        }

        &__not-readen {
          bottom: -1px;
          background-image: url(/assets/email-folder-icon.svg);
        }
      }

      .mail-from {
        padding-left: 35px;
        font-size: 20px;
        color: $font_color_medium;
      }

      .mail-control {
        margin-left: 5px;
        cursor: pointer;
        color: $color_5;

        &:first-of-type {
          margin-left: 50px;
        }

        &:hover {
          color: $color_10;
        }
      }

      .time-receiving {
        margin-left: auto;
        color: $font_color_light;
      }
    }

    &__content {
      padding-left: 35px;

      .mail-theme {
        margin-bottom: 10px;
      }

      .mail-text {
        height: 33px;
        line-height: 2;
        word-break: break-word;
        white-space: pre-line;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: height .6s linear .1s;

        &__selected {
          height: 300px;
          overflow: auto;
        }
      }
    }

    &__selected {
      transition: background-color .6s linear .1s;
      background-color: transparent;

      & .mail-control {
        color: $color_4;
      }
    }

    &__not-readen {
      background-color: $color_2;
    }

    &:hover:not(.mail__selected) {
      transition: background-color .2s linear 0s;
      background-color: $color_1;
    }
  }

  .btn {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: $color_2;
    }
  }
}
